@model AP5PW_Helpdesk.Models.User

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger small"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Nickname" class="form-label"></label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger small"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="BirthDate" class="form-label"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger small"></span>
    </div>
</div>
