@{
    ViewData["Title"] = "Home";
}
<div class="p-4 p-md-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Welcome</h1>
        <p class="col-md-8 fs-5">
            This is the AP5PW Helpdesk demo app.
        </p>
    </div>
</div>
